.logo {
    width: 70px;
    height: 60px;
    margin-right: 10px;
    border-radius: 10px;
}

.nav-link {
    font-size: large;
    color: black;
}

.btn-custom {
    background-color: black;
    color: white;
    font-size: large;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border: 1px solid black;
}

.btn-custom:hover {
    background-color: gray;
    border: 1px solid grey;
    color: white;
}

.icon-link {
    text-decoration: none;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}

.icon-link:hover {
    text-decoration: none;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: grey;
    color: white;
    text-align: center;
    
}

.contact-us {
    background-color: #F8F9FA;
}